*{

}
body{
    text-align: center;
    

}
#titleOfTable{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.row{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 100%;
}

.input#Baddies{
    flex:2px;
}
@media (min-width: 1025px){
    /* laptop/screen */
    body{
        background-color: blueviolet;
        
    }
    #table{
        display: flex;
        flex-direction: row;
         justify-content: space-evenly;
         font-size: 30px;

    }
    #imageColumn{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }
    img{
        height: 100px;
        width: 100px;
    }
    #nameColumn{
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        justify-content: space-between;
        
    }
    #title{
        text-align: center;
    }
    .costHowManyColumn{
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: space-around;
    }
    button{
        background-color:grey;
        margin-top: 10px;
    
    }
    #resultsTotal{
        margin-top: 10px;
        Text-align: left;
    }
    #resultsColumn{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #yourCost{
        margin-bottom:50px;
    }
}
@media (min-width: 601px) and (max-width: 1280px){
    /* tablet */
    body{
        background-color: red;
        
    }
    #table{
        display: flex;
        flex-direction: row;
         justify-content: space-evenly;
         font-size: 30px;

    }
    #imageColumn{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }
    img{
        height: 100px;
        width: 100px;
    }
    #nameColumn{
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        justify-content: space-between;
        
    }
    #title{
        text-align: center;
    }
    .costHowManyColumn{
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: space-around;
    }
    button{
        background-color:grey;
        margin-top: 10px;
    
    }
    #resultsTotal{
        margin-top: 10px;
        Text-align: left;
    }
    #resultsColumn{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #yourCost{
        margin-bottom:50px;
    }
    
}
@media only screen and (max-width: 600px){
    /* iphone size */
    body{
        background-color: #3037ff;
        
    }
    #table{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    #imageColumn{
        display:none;
    }
    #nameColumn{
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        justify-content: space-between;
    }
    #title{
        text-align: center;
    }
    .costHowManyColumn{
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: space-around;
    }
    button{
        background-color:grey;
        margin-top: 10px;
    }
    #resultsTotal{
        margin-top: 10px;
    }
    #resultsColumn{
        display: flex;
        flex-direction: column;
        align-items:left;
    }
    
}