
#prob1{
    border-radius: 50px; 
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.lightPurple{
    background-color: #752ec1;
}

