html{
    height: 100%;
}
body{
    height: 100%;
    background-color:#404142;
    background:url(dark-grey-terrazzo/dark-grey-terrazzo.png) left top repeat;
}

    header{
        display: flex;
        flex-direction: column;
        background-image: url("images/activity.feedSheep2.jpg");
        height : 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        /* //background image properties: */
    }
    header > nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flush;
    }
    #intro{
        color:white;
    }
    header > nav > a {
        color: black;
        margin-left: 5px;
        font-size: 20px;
    }
    title{
        display: block;
        margin: auto;
        font-size: 50px;
        color: #black;
        text-shadow: 2px 2px black;
    }
    #mainFlexBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: row;
        align-items: stretch;
        align-content: space-between;
   }
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        height: 150px; 
        margin-top: 20px;
    }
    figcaption{
        color: white;
        text-align: center;
    }

@media only screen and (max-width:599px){
    #mainFlexBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: space-between;
        

    }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
    
    header{
        
        background-size: auto;
    }
     title{
        display: block;
        margin: auto;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px black;
        text-border: 2px;
    
    }
    header > nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flush;
       
        
    }
    #intro{
        color:white;
        font-size: 20px;
    }
    header > nav > a {
        color: white;
        margin-left: 7px;
        font-size:18px;
    }
    #mainFlexBox{
        justify-content: space-around;
        align-items: stretch;
        align-content: space-between;  
    }
}
@media only screen and (min-width: 1200px){
    header{
        
        background-size: auto;
    
    }
     title{
        display: block;
        margin: auto;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px black;
    
    }
    header > nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    #intro{
        color:white;
        font-size: 20px;
    }
    header > nav > a {
        color: white;
        margin-left: 7px;
        font-size:18px;
    } 
    #mainFlexBox{
        justify-content: space-around;
        align-items: stretch;
        align-content: space-between;  
    }
  
} 