h1{
    background-color: darkgreen;
}
.mainTitle{
    font-family: georgia;
    text-align: center;
   
}
p{
    line-height: 25px;
}
a{
    text-decoration: none;
}
#alsoLike{
    text-transform: uppercase;
}
#nextArticle:hover {
    text-decoration: underline;
}
#ciaDirector{
    float: left;
    height: auto;
    width: auto;
}