.gridBack{
    background: url("images&fonts/noise.png") center center no-repeat,url("images&fonts/gridlines-opaque.png") left top repeat, url("images&fonts/huntington.jpg")left top no-repeat;
   background-size: 50%, auto, cover;
    

}
.whiteBack p{
    
}
.greenBackTrees{
    background-color: #c1ddcd;
    background-image: url("images&fonts/bamboo.png");
}
.daveShea{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 180px 100px;
    grid-row-gap: 5px;

    position:relative;
    background-image:url("images&fonts/gridlines-opaque.png"), url("images&fonts/koi.jpg");
    background-size:  250px 200px, 100% 100%;
    padding: 25px;
}
.footLink{
    background-color:rgb(32, 77, 80, 1);
    position:absolute;
    right: 0px;
    bottom:0px;
    left:0px;
    
    
}
