.gridBack{
    background-image: url("images&fonts/noise.png"),url("images&fonts/gridlines-opaque.png"), url("images&fonts/huntington.jpg");
    background-size: 20%, 100%, 100% 100%;
    background-position: center, left top, fill;
    background-repeat: no-repeat, repeat, no-repeat;
    

}
.whiteBack p{
    
}
.greenBackTrees{
    background-color: #c1ddcd;
    background-image: url("images&fonts/bamboo.png");
}
.daveShea{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70% 30%;
    grid-row-gap: 5px;

    position:relative;
    background-image:url("images&fonts/gridlines-opaque.png"), url("images&fonts/koi.jpg");
    background-size:  250px 200px, 100% 100%;
    background-position:  left top, contain;
    background-repeat:  repeat, auto;
    padding: 25px;
}
.footLink{
    background-color:#33564d;
    position:absolute;
    right: 0px;
    bottom:0px;
    left:0px;
    
    
}
